*{
    padding:0;
    margin:0;
}

body{
    justify-items: center;
    margin: auto;
    padding: 0 0.5rem;
    text-align: center;
    background-color: rgba(45,45,45,0.1);
}

header{
    padding: 0 2rem;
    border-radius: 10px 10px 0 0;
    background-color: white;
}

main{
    padding: 2rem;
    border-radius: 0 0 10px 10px;
    background-color: white;
}

#title{
    padding: 2rem 0;
}

#instrucao{
    width: 100%;
    padding: 1rem 0;
}

#dados-carro{
    width: 100%;
}

.opcao{
    display: grid;
    justify-items: center;
    margin: 1rem 0;
}

#marcas, #modelos, #anos{
    width: 10rem;
}

#resultado-busca{
    display: grid;
    width: 100%;
    margin: 1rem 0;
    padding:1rem 0;
    background-color: rgba(45,45,45,0.1);
}

hr{
    background-color: rgba(45,45,45,0.1);
    height: 3px;
    width: 100%;
    border-width: 0;
}

#valor{
    margin: 1rem;
    padding: 1rem 0;
    text-align: center;
    color:rgb(45,45,45);
}

@media only screen and (min-width: 600px) {
    body{
        width: 80%;
    }
}

@media only screen and (min-width: 1000px) {
    body{
        max-width: 800px;
    }
}